.navbar {
  height:10vh;
  display:flex;
  justify-content: space-between;
  color:#ffffff;
  background-color: #000000;
  place-items: center;
  padding:10px;
}
.link {
  font-size: 18px;
  text-decoration: none;
  color:#ffffff;
  padding-left: 15px;
}

/* .active {
  color:red;
} */

.heading {
  padding:10px;
}

.label {
  color:#000000;
  font-size:large;
  font-weight: 400;
}

.contact-info {
 padding:10px;
}
.main-heading {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  padding:10px;

}
.main-container {
  text-align: center;
  padding: 10px;
  min-height: 150px;
  top: 25px;
  position: relative;
  width: 90%;
  left: 40px;
  right:40px;
}